export let private = {
    botToken: "tg bot token",
    analKey: "amplitude.com analytics key",
    botName: "mybot",
    webhookPort:443,
    webhookHost: "127.0.0.1",
    webhookEndpoint: "https://my.site/secretPath",
    socksProxyHost: "0.0.0.0",
    socksProxyPort: 1234,
    changeProxyCommand: "",
    favouriteGroups: [
        -111111
    ]
}