var private = {
    botToken: "tg bot token",
    adminId: ["123456"],
    SNKey: "saucenao.com key (create an account to get one)",
    analKey: "amplitude.com analytics key",
    botName: "mybot",
    tokenHiderUrl: "https://my.site/tokenHider.php?l=",
    webpToPngUrl: "https://my.site/webpTopng.php?url=",
    webhookPort:443,
    webhookEndpoint: "https://my.site/secretPath",
    socksProxyUrls: [
        null, 
        "socks://url:port"
    ],
    favouriteGroups: [
        -111111
    ]
}
module.exports = private;